/* colors */
:root {
  --lt-blue: #666ca3;
  --dk-blue: #13183f;
  --grey: #83869a;
  --bright-pink: #f74780;
  --lt-pink: #ffa7c3;
  --white: #ffffff;
  --pink-gradient: linear-gradient(#ff6f48, #f02aa6);
  --purple-gradient: linear-gradient(#4851ff, #f02aa6);
}

/* typography */
.heading-xl,
.heading-l,
.heading-m,
.heading-s {
  font-weight: 800;
}

.heading-s,
.body-m,
.body-s {
  line-height: 26px;
}

.heading-xl {
  line-height: 50.4px;
  font-size: 2.5rem;
  margin: 0 0 26px;
}

.heading-l {
  line-height: 51px;
  font-size: 2.5rem;
}

.heading-m {
  line-height: 32px;
  font-size: 1.5rem;
}

.heading-s {
  font-size: 1.25rem;
}

.body-m {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.body-s {
  font-size: 1.125rem;
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

/* img {
  max-width: 100%;
} */

.card-svg {
  width: 56px;
  position: absolute;
  top: -25px;
}

.heading-m {
  color: var(--white);
  margin: 0;
}

.heading-s {
  color: var(--dk-blue);
  margin-bottom: 1em;
}

.body-s {
  color: var(--bright-pink);
}

p {
  color: var(--grey);
}

.logo {
  width: 89px;
  height: 25px;
}

.btn {
  border-radius: 50px;
  border: none;
  padding: 0;
  color: var(--white);
}

.hero-btn,
.footer-btn {
  width: 140px;
  height: 48px;
}

.hero-btn {
  background-color: var(--dk-blue);
}

.hero-left-btn {
  width: 167px;
  height: 56px;
  margin-bottom: 44px;
  background-image: var(--pink-gradient);
}

.footer-btn {
  background-image: var(--purple-gradient);
}

.container {
  margin: 0 auto;
  width: 343px;
  margin: 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.375em;
}

.hero {
  position: relative;
}

.hero-right {
  width: 327px;
  height: 301px;
  background-image: url("./starter-code/assets/image-hero-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.main-card {
  width: 343px;
  height: 120px;
  padding: 28px;
  background-image: var(--pink-gradient);
}

.card,
.main-card {
  border-radius: 10px;
  margin-bottom: 2.5em;
}

.card {
  position: relative;
  width: 343px;
  height: 283px;
  padding: 3.5em 1.8125em 2em 1.75em;
  background-color: var(--white);
}

.card:last-child {
  margin-bottom: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 4em;
}

footer {
  margin-top: 80px;
  background-color: var(--dk-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.25em 1em 0.5em;
  width: 100%;
}

.attribution {
  margin: 0;
}

.attribution a {
  color: var(--bright-pink);
  text-decoration: none;
}

@media (min-width: 48em) {
  .container {
    width: 100%;
    position: relative;
    max-width: 689px;
  }

  .nav {
    margin-bottom: 99px;
  }

  .hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 93px;
  }

  .hero-left {
    width: 398px;
  }

  .hero-right {
    position: absolute;
    width: 640.71;
    height: 640px;
    top: -250px;
    right: 0;
    background-image: url("./starter-code/assets/image-hero-tablet.png");
    background-size: auto;
    background-repeat: no-repeat;
  }

  /* picture img {
    position: absolute;
    top: -240px;
    right: -300px;
    width: 640.71px;
    height: 640px;
  } */

  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 768px;
  }

  .main-card,
  .card {
    width: 340px;
    height: 259px;
  }

  .card {
    padding: 56px 21px 32px 32px;
  }

  .heading-m {
    margin-top: 28px;
  }

  .heading-s {
    margin: 0 0 16px;
  }

  .footer {
    padding: 36px 40px;
    margin-bottom: 0;
  }

  footer {
    margin-top: 40px;
  }
}

@media (min-width: 90em) {
  .container {
    max-width: 1110px;
  }

  .nav {
    margin: 20px 0 185px;
  }

  .logo {
    width: 111.17px;
    height: 27.68px;
  }

  .hero {
    /* position: relative; */
    margin-bottom: 300px;
  }

  .hero-left {
    width: 457px;
    height: 359px;
  }

  .hero-right {
    background-image: url("./starter-code/assets/image-hero-desktop.png");
  }

  .hero-left-btn {
    width: 167px;
    height: 63px;
  }

  .hero-btn,
  .footer-btn {
    width: 167px;
    height: 56px;
  }

  /* picture img {
    position: absolute;
    width: 991.63px;
    height: 936.92px;
    top: -446px;
    right: -500px;
  } */

  .card-container {
    width: 1110px;
    gap: 30px;
  }

  .main-card,
  .card {
    width: 350px;
    height: 322px;
  }

  .footer {
    width: 1110px;
    padding: 40px 0;
  }

  .heading-s,
  .body-m,
  .body-s {
    line-height: 28px;
  }

  .heading-xl {
    line-height: 70px;
    font-size: 3.5rem;
  }

  .heading-l {
    line-height: 51px;
    font-size: 2.5rem;
  }

  .heading-m {
    margin-top: 36px;
    line-height: 40px;
    font-size: 2rem;
  }

  .heading-s {
    font-size: 1.5rem;
  }

  .body-m {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 28px;
  }

  .body-s {
    font-size: 1.125rem;
    font-weight: 700;
  }
}
